$background: #efefef;
$purple: #8d6e91;
$light-purple: #a17ea6 ;
$dark-purple: #725875;
$red: #de0b40;
$gray: #d3d3d3;
$gray-2: #8a8a8a;
$gray-3: #707070;

$main-font: 'Open Sans', sans-serif;
$fw-semi: 600;

$value-spacing: 0.438em;

$break-sm: 540px;